.land {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.cv-button {
  color: #FFFFFF;
  background-color: #FF6464;
  font-size: 20px;
  border: 1px solid #FF6464;
  outline: none;
  border-radius: 2px;
  padding: 10px 20px;
}

.cv-button:hover {
  background-color: rgba(204, 51, 51, 0.75);
  border: 1px solid transparent
}

.land-container {
  width: 55%;
}

.land-picture {
  width: 45%;
}

.land-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.picture {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .land {
    flex-direction: column-reverse;
  }

  .land, .land-info {
    justify-content: center;
    align-items: center;
  }

  .land-info > * {
    text-align: center;
  }

  .land-container, .land-picture {
    width: 100%;
  }
}
