.nav-container {
  display: flex;
  justify-content: flex-end;
}

.nav-container > * {
  font-size: 20px;
  margin-right: 32px;
}

.nav-container a:link {
  color: #21243D;
}

.nav-container a:visited {
  color: #21243D;
}

.nav-container a:hover {
  color: #8695A4;;
}
